/***** Global Css starts here *****/
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: linear-gradient(
        135deg,
        #053FEA,
        #0BC9F7
    );
    --secondary-color: linear-gradient(
        135deg,
        #E62B22,
        #EB5F22
    );
    --accent-color: #0BC9F7;
  }
html{
    font-size: 62.5%;
}
/***** Global Css ends here *****/

/***** main Css starts here *****/
body{
    background: linear-gradient(
        135deg,
        #053FEA,
        #0BC9F7
    );
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-block: 10em;
}
.container{
    padding: 1em;
    width: 100%;
}
/***** main Css ends here *****/

/***** Css for add new task starts here *****/
#newTask{
    background: white;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.3);
}
#userInput{
    width: 100%;
    font-size: 1.3rem;
    padding: 0.7em;
    border-radius: 5px;
    border: 2px solid gainsboro;
    color: #111111;
}
#userInput:focus{
    outline: none;
    border: 2px solid var(--accent-color);
}
#push, #save{
    margin-top: 0.5em;
    width: 100%;
    border: none;
    background: var(--primary-color);
    color: white;
    border-radius: 5px;
    font-weight: 600;
    padding: 0.8em;
    outline: none;
    cursor: pointer;
}
/***** Css for add new task ends here *****/

/***** Css for tasks list starts here *****/
#tasksList{
    margin-top: 2em;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.3);
    padding: 1em;
}
/***** Css for tasks list ends here *****/

/***** Css for search tasks starts here *****/
#searchTask{
    display: flex;
    flex-direction: column;
}
#deleteAll{
    margin-bottom: 0.6em;
    width: 100%;
    padding: 0.8em;
    border: none;
    background: var(--secondary-color);
    color: white;
    border-radius: 5px;
    font-weight: 600;
    outline: none;
    cursor: pointer;
}
#searchBar{
    width: 100%;
    font-size: 1.3rem;
    padding: 0.7em;
    border-radius: 5px;
    border: 2px solid gainsboro;
    color: #111111;
}
#searchBar:focus{
    outline: none;
    border: 2px solid var(--accent-color);
}
/***** Css for search tasks ends here *****/

/***** Css for all tasks starts here *****/
#noTasks{
    font-size: 1.3rem;
}
#tasks{
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 5px;
    margin-top: 1.5em;
}
#task:last-child {
    margin-bottom: 0;
}
/***** Css for all tasks ends here *****/

/***** Css for single task starts here *****/
#task{
    align-items: center;
    background: white;
    border-radius: 5px;
    width: 100%;
    padding-inline: 1em;
    padding-block: 2em;
    margin-bottom: 1em;
    border-left: 4px solid var(--accent-color);
    box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.3);
}
#taskName{
    font-size: 1.7rem;
}
#actions{
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}
#edit, #delete{
    width: 48%;
    padding: 1em;
    outline: none;
    border: none;
    background: var(--primary-color);
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}
#delete{
    background: var(--secondary-color);
}
/***** Css for single task ends here *****/

/***** Css for warning message starts here *****/
#snackBar {
    visibility: hidden;
    min-width: 25em;
    margin-left: -12em;
    background: white; 
    color: black;
    text-align: center;
    border-radius: 5px; 
    padding: 1.6em; 
    position: fixed; 
    z-index: 1; 
    left: 50%; 
    bottom: 5em; 
}
#snackBar.show {
    visibility: visible; 
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 5em; opacity: 1;}
}
@keyframes fadeout {
    from {bottom: 5em; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
/***** Css for warning message ends here *****/

/***** Css for medium to large screens starts here *****/
@media only screen and (min-width: 500px) {
.container{
    padding: 1em;
    width: 100%;
    max-width: 900px;
}
#newTask{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}
#userInput{
    width: 60%;
    font-size: 1.6rem;
}
#push, #save{
    margin-top: 0;
    width: 38%;
    font-size: 1.6rem;
}
#tasksList{
    padding: 2em;
}
#searchTask{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#deleteAll{
    margin-bottom: 0;
    width: 38%;
    padding: 0.7em;
}
#searchBar{
    width: 60%;
    padding: 0.7em;
}
#task{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#taskName{
    width: 60%;
    font-size: 1.7rem;
}
#actions{
    width: 40%;
}
#edit,#delete{
    font-size: 1.2rem;
    padding-block: 1em;
    padding-inline: 0.7em;
}
}
/***** Css for medium to large screens ends here *****/

/***** Css for CTA Button starts here *****/
#cta{
    margin-top: 2em;
    border: none;
    color: white;
    background: var(--secondary-color);
    border-radius: 5px;
    font-weight: 600;
    padding-block: 1em;
    padding-inline: 2em;
    outline: none;
    cursor: pointer;
}
/***** Css for CTA Button ends here *****/
